<div class="container text-center">
  <div class="row">
    <form action="/pages/answer" method="get">
      <div class="row">
        <h2>
          <label for="question">
            Speak to your coach
          </label>
        </h2>
      </div>

      <div class="row">
        <input type="text" id="question" name="query" class="form-control" style="margin: 15px;" placeholder="What should I do?">
      </div>

      <div class="row">
        <input type="submit" value="Go on!" class="btn btn-primary btn-lg" >
      </div>
    </form>
  </div>
</div>
